body { background-color :#87D1ED ; 

font-family : "Times New Roman", serif; }
h1 {
  color: #0049bf;
}
h2 {
  color:#0049bf;

}

p {
    color: #0049bf ;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}


