body { background-color :#87D1ED ; 

font-family : "Times New Roman", serif; }
h1 {
  color: orange;
}
h2 {
  color: orange;

}

p {
    color: orange;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}


